altgraph==0.17.5
et_xmlfile==2.0.0
macholib==1.16.4
modulegraph==0.19.7
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
py2app==0.28.8
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
